<% var header = '../header'; %>
<%- include(header) %>

<div class="container-fluid mt-3">
    <div class="jumbotron">
        <header>
            
                <div class="page-header">
                    <div class="row mt-6">
                        <div class="col-sm-6">
                        <h1>View Blog:</h1>
                        </div>
                    </div>
                </div>
        </header>
        <div class="row mt-2">
            <div class="col-sm-6">
                <h4>User_id: </h4>
            </div>
            <div class="col-sm-6">
                <p><%- output["user_id"] %></p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-6">
                <h4>Category: </h4>
            </div>
            <div class="col-sm-6">
                <% for(var i=0; i < output["category"].length; i++) {%>
                <p><%- output["category"][i] %></p>
                <% } %>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-6">
                <h4>Title: </h4>
            </div>
            <div class="col-sm-6">
                <p><%- output["title"] %></p>
            </div>
        </div>
        <div class="row mt-2">
                <div class="col-sm-6">
                    <h4>Text: </h4>
                </div>
                <div class="col-sm-6">
                    <p><%- output["text"] %></p>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-6">
                <h4>Location: </h4>
            </div>
            <div class="col-sm-6">
                <p><%- output["location"] %></p>
            </div>
        </div>
            <div class="row mt-2">
                <div class="col-sm-6">
                    <h4>Date & Time: </h4>
                </div>
                <div class="col-sm-6">
                    <p><%- output["date_time"] %></p>
                </div>
        </div>
            <div class="row mt-2">
                <div class="col-sm-6">
                    <h4>Signature: </h4>
                </div>
                <div class="col-sm-6">
                    <p><%- output["signature"] %></p>
                </div>
            </div>
        <div class="row mt-2">
            <div class="col-sm-6">
                <h4>Image_URL: </h4>
            </div>
            <div class="col-sm-6">
                <% for(var i=0; i < output["image_url"].length; i++) {%>
                    <p><%- output["image_url"][i] %></p>
                <% } %>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-6">
                <h4>View Count: </h4>
            </div>
            <div class="col-sm-6">
                <p><%- output["view_count"] %></p>
            </div>
        </div>
    </div>  
</div>
<% var footer = '../footer'; %>
<%- include(footer) %>